@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.mark-content ul {
  padding-left: 2rem;
  list-style: disc;
  margin: 0.2rem 0;
}

.mark-content h1 {
  font-weight: bold;
  font-size: xx-large;
  margin: 1rem 0;
  color: black;
}

.mark-content h2 {
  font-weight: bold;
  font-size: x-large;
  margin: 1rem 0;
  color: black;
}

.mark-content h3 {
  font-weight: bold;
  font-size: x-large;
  margin: 1rem 0;
  color: black;
}

.mark-content p code {
  padding: 0.2rem 0.5rem;
  background-color: #2d333b;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.8rem !important;
}

.mark-content pre {
  padding: 0.2rem 0.5rem;
  background-color: #2d333b;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.8rem !important;
}

.mark-content a {
  color: #3778e2 !important;
}

.mark-content a:hover {
  text-decoration: underline;
}

.mark-content p img {
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin: 1rem auto;
}

.mark-content p {
  margin: 1.1rem 0;
}

/* loader */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: black;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media only screen and (min-width: 600px) {
 
  .mark-content ul {
    padding-left: 4rem;
    list-style: disc;
    margin: 0.2rem 0;
  }
}
